*{
    margin: 0;
    padding: 0;
    font-family: 'Eczar', serif;
    
}

header{
    overflow: hidden;
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
    position: fixed; 
    top: 0; 
    width: 100%; 
    z-index: 1;
}

body{
    margin-top: 110px;
    background-color: black;
    background-image: radial-gradient(50% 50% at 50% 50%, rgba(255, 0, 0, 0.25) 0%, rgba(217, 217, 217, 0) 100%);
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

.titulo{
    display: flex;
    justify-content: center;
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    color: #FFF0D4;
    padding: 30px;
}

.botao{
    background-color: #0F0F0F;
    border-radius: 10px;
    border: 3px solid #FFF0D4;
    width: 200px;
    height: 250px;
}

.gridteste{
    display: grid;
    grid-template-columns: auto auto;

}

.botaozao{
    background-color: #0F0F0F;
    border-radius: 10px;
    border: 3px solid #FFF0D4;
    width: 350px;
    height: 250px;
}

.blocao1{
    opacity: 0%;
}

.bloco{
    transform: scale(1);
    transition: 0.2s ease-in-out;
}

.bloco:hover{
    transform: scale(1.1);
}

.nome{
    color: #FFF0D4;
    font-weight: 600;
    padding: 10px;
    font-size: 20px;
}

.fotodado img{
    width: 100px;
    height: 100px;
    padding: 20px;
}

#dado4 img{
    animation-name: rodoNunca;
    animation-iteration-count: 1;
    animation-duration: 2s;
    animation-fill-mode: both;
}

#dado6 img{
    animation-name: rodoNunca;
    animation-iteration-count: 1;
    animation-duration: 2s;
    animation-fill-mode: both;
}

#dado8 img{
    animation-name: rodoNunca;
    animation-iteration-count: 1;
    animation-duration: 2s;
    animation-fill-mode: both;
}

#dado10 img{
    animation-name: rodoNunca;
    animation-iteration-count: 1;
    animation-duration: 2s;
    animation-fill-mode: both;
}

#dado12 img{
    animation-name: rodoNunca;
    animation-iteration-count: 1;
    animation-duration: 2s;
    animation-fill-mode: both;
}

#dado20 img{
    animation-name: rodoNunca;
    animation-iteration-count: 1;
    animation-duration: 2s;
    animation-fill-mode: both;
}

#dado10z img{
    animation-name: rodoNunca;
    animation-iteration-count: 1;
    animation-duration: 2s;
    animation-fill-mode: both;
}

#dado100 img{
    animation-name: rodoNunca;
    animation-iteration-count: 1;
    animation-duration: 2s;
    animation-fill-mode: both;
}

.grid-container{
    padding: 30px;
}

.grid {
    padding: 30px;
    display: grid;
    grid-gap: 30px;
    column-gap: 20px;
    row-gap: 70px;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows:  220px 220px 220px;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}

.numero{
    font-size: 30px;
    color: black;
    font-weight: 900;
    position: absolute;
    top: 28%;
    width: 100%;
    left: 0%;
    z-index: 1;
}

#numero4{
    top: 32%;
    animation-name: rodoNunca;
    animation-iteration-count: 1;
    animation-duration: 2s;
    animation-fill-mode: both;
}

#numero6{
    animation-name: rodoNunca;
    animation-iteration-count: 1;
    animation-duration: 2s;
    animation-fill-mode: both;
}

#numero8{
    animation-name: rodoNunca;
    animation-iteration-count: 1;
    animation-duration: 2s;
    animation-fill-mode: both;
}

#numero10{
    animation-name: rodoNunca;
    animation-iteration-count: 1;
    animation-duration: 2s;
    animation-fill-mode: both;
}

#numero12{
    animation-name: rodoNunca;
    animation-iteration-count: 1;
    animation-duration: 2s;
    animation-fill-mode: both;
}

#numero20{
    font-size: 22px;
    top: 32%;
    animation-name: rodoNunca;
    animation-iteration-count: 1;
    animation-duration: 2s;
    animation-fill-mode: both;
}

#numero10z{
    left: 87px;
    animation-name: rodoNunca;
    animation-iteration-count: 1;
    animation-duration: 2s;
    animation-fill-mode: both;
}

#numero100{
    left: -85px;
    animation-name: rodoNunca;
    animation-iteration-count: 1;
    animation-duration: 2s;
    animation-fill-mode: both;
}

@keyframes rodoNunca{
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(1800deg);
    }
  }

@media all and (max-width: 800px){
    .grid {
        padding: 30px;
        display: grid;
        grid-gap: 30px;
        column-gap: 20px;
        row-gap: 70px;
        grid-template-columns: 300px;
        justify-content: center;
        justify-items: center;
        align-content: center;
        align-items: center;
    }

    .botaozao{
        background-color: #0F0F0F;
        border-radius: 10px;
        border: 3px solid #FFF0D4;
        width: 200px;
        height: 400px;
    }

    .gridteste{
        display: grid;
        grid-template-columns: auto;
    }

    #numero10z{
        top: 55%;
        left: 1px;
        animation-name: rodoNunca;
        animation-iteration-count: 1;
        animation-duration: 2s;
        animation-fill-mode: both;
    }

    #numero100{
        top: 17%;
        left: 1px;
        animation-name: rodoNunca;
        animation-iteration-count: 1;
        animation-duration: 2s;
        animation-fill-mode: both;
    }

    .titulo{
        display: flex;
        justify-content: center;
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        color: #FFF0D4;
        padding: 30px;
    }

    .blocao1{
        display: none;
    }
}